  <div class="bar bar-header bar-balanced" side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <div class="title">About</div>
  <button class="button button-clear" ng-click="logout()"><i class="icon ion-log-out"></i></button>
</div>
<ion-view >
  <ion-content class="has-header">

   <h1>About </h1>

   
<br/><br/>

 <div class="card">

  <div class="item item-text-wrap" style="text-align: justify">
  <h2><b><font color="red"> What is NeXT Horizon ??</font></b><br><br/></h2>
    NeXT Horizon is a 100% Proof-of-Stake (PoS) digital currency, which is based on a fork of the well-known NXT. We are concentrating on a better and fairer long-term distribution, as well as the implementation of new features.

Using PoS leads to the network needing far less resources to be secure, which not only is more friendly for the environment, but also means a substantially lower cost of operation. A powerful CPU/GPU or even FPGAs or ASICs are not needed. A 10 year old notebook with Java installed has no drawback compared to a high-end computer.

The major part of NHZ will be distributed to users helping with the establishment of the coin. We reserve the right to sell 2% after an announcement if we feel the need for it, the money raised this way will be used in a transparent way to cover operation costs. 98% are guaranteed to be distributed by bounties. After that the only possibility to earn them is by forging a block and thus getting the transaction fee. Therefore it’s only necessary to keep the client running, so it is able to calculate new blocks.

The total number of NHZ is 1,000,000,000. No new coins are generated, there is no inflation, only redistribution!
  </div>
</div>
 <div class="card">
 
  <div class="item item-text-wrap" style="text-align: justify">
    <h2><b><font color="red"> This wallet Offically ??</font></b><br><br/></h2>
    No this mobile wallet not officialy. I love NHZ so I make this wallet.
  </div>
</div>  

 <div class="card">
 
  <div class="item item-text-wrap" style="text-align: justify">
    <h2><b><font color="red"> privacy and policy !!</font></b><br><br/></h2>
   We respect your privacy for your privacy. We do not save your Secret phrase to any database or sent itu to any database.
    This poject is OpenSource you can download source code and make better.

  </div>
</div>  

 <div class="card">
 
  <div class="item item-text-wrap" style="text-align: justify">
    <h2><b><font color="red"> Licency Agreement !!</font></b><br><br/></h2>

there is no-charge, royalty-free, irrevocable copyright license to reproduce, publicly display, publicly perform, sublicense.
this project open source.
<br/>
so we are not responsible for any hacking of your account in the name of this app. 
If you get this app from other people please be careful.
  </div>
</div>  


 <div class="card">
 
  <div class="item item-text-wrap" style="text-align: justify">
    <h2><b><font color="red"> About Developer</font></b><br><br/></h2>
      <pre>My name andik ibrahimi. I am from indonesia just that :)
      contact me :
      email : baaiim@live.com
      facebook : Andik Ibrahimi
      Donate : NHZ-WFZE-R2L9-M4LN-FSWVK
      </pre>
  </div>
</div>  



<br/><br/><br/><br/><br/><br/>
    
  </ion-content>
  
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title">NHZ Mobile Wallet Api V.1.1</div>
</div>

