  <div class="bar bar-header bar-balanced" side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <div class="title">Dashboard</div>
  <button class="button button-clear" ng-click="logout()"><i class="icon ion-log-out"></i></button>
</div>
<ion-view >
  <ion-content class="has-header">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
<div class="list list-inset">

    <div class="item" style="background-color:#009540;color:white">
      <center>{{walletme}}</center>
    </div>
    <center><button ng-click="toggle = !toggle" class="button button-outline button-positive">Show/Hide qrcode</button>

<div class="box on" ng-show="toggle" ng-animate="'box'"><img src="http://qrfree.kaywa.com/?l=1&s=8&d={{qrcode}}"/></div>
</center>

</div>
<div style="font:bold 40px Georgia, serif;">
 <button ng-click="detailInfo()"  class="button button-full button-balanced " >
  <span style="font:bold 20px Georgia, serif;" id='mainn'>{{oke1.datas}}</span><br/>Account Balance
</button>
 <button  class="button button-full button-energized">
  <span style="font:bold 20px Georgia, serif;"  id='mainn'>{{oke4.datas}}</span><br/>ForgedBalance
</button>
<button class="button button-full button-assertive">
  <span style="font:bold 20px Georgia, serif;"  id='mainn'>{{oke5.datas}}</span><br/>Assets Owned
</button>
<button class="button button-full button-positive">
  <span style="font:bold 20px Georgia, serif;"  id='mainn'>{{oke6.datas}}</span><br/>NRS Version
</button>
</div>
<br/><br/>
    
  </ion-content>
  
</ion-view>
<div class="bar bar-footer bar-balanced">
  <div class="title">NHZ Mobile Wallet Api V.1.1</div>
</div>
