<div class="bar bar-header bar-balanced" side="left">
  <div class="title">Login</div>
</div>
<ion-view>
  <ion-content class="has-header">
    
<pre>
  {{noticedata}}
  {{noticedata2}}
  </pre>
</pre>
    <form role="form" name="form">
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="please password" ng-disabled="{{dataget}}"  required class="form-control" ng-model="user.akun">
  </label>
</div>
<div class="padding">
        <button class="button button-block button-balanced" type="submit" ng-click="login(user)" ng-disabled="form.$invalid">Login</button>
      </div>
      </form>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title">NHZ Mobile Wallet Api V.1.1</div>
</div>
