<ion-side-menus >

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" >
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list class="list">
        
        <ion-item nav-clear class="item" menu-close href="#/app/balance">
          Balance
        </ion-item>
        <ion-item class="item" nav-clear menu-close ng-click="SelectSent()">
          Sent Nhz
        </ion-item>
        <ion-item class="item" nav-clear menu-close href="#/app/trans">
          Confirmed Transaction
        </ion-item>
        <ion-item class="item" nav-clear menu-close href="#/app/untrans">
          Unconfirmed Transaction
        </ion-item>
          <ion-item class="item" nav-clear menu-close href="#/app/me">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
